<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
	
	<!-- Framework Styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/material-icons.min.css">

	<!-- Custom Styles -->
	<link rel="stylesheet" href="css/main.css">

</head>
<body ng-app="myApp" ng-controller="chapterController">
	<header>
		<!-- <select ng-model="chapterID" ng-change="openChapter()" style="position: absolute;">
			<option ng-repeat="n in [].constructor(22) track by $index" value="{{$index+1}}">{{$index+1}}</option>
		</select> -->

		<div class="topicNav-area">
			<a href="#" class="topicNav-button">Chapters</a>
			<div class="topicNav-wrapper">
				<div class="topicNav-search-wrapper">
					<a href="#" class="topicNav-bookmarks-btn"></a>
					<div class="icon-wrapper">
						<input type="text" class="form-control" ng-model="searchTerm" id="topicNav-search" placeholder="Search chapters">
						<i class="fa fa-search"></i>
						<i class="fa fa-times-circle" id="topicNav-search-clear" style="display:none;"></i>
					</div>

				</div>
				<ul id="topicNav">
					<li ng-repeat="chapter in chapters">
						<a href="#" class="" data-topic="cover" ng-click="openChapter($index+1)" ng-class="(chapter.bookmarked)?'bookmarked':''">{{$index+1}} - {{chapter.title}}</span></a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	
	<div class="container">
		<div class="row">
			<div class="col portal">
				
			</div>
		</div>
		<div class="row">
			<div class="col quiz-area">
				<h1>Quiz</h1>
				<div class="quiz" ng-repeat="question in chapterQuestions">
					{{question.question}}
					<div class="quiz-answers" >
						<a href="#" ng-repeat="answer in question.answers" class="quiz-answer" ng-class="(answer.correct)?'quiz-correct':'quiz-incorrect'">{{answer.answer}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="shroud"></div>

	<!-- Framework Scripts -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/vendor/popper.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/mustache.min.js"></script>
	<script src="js/fastclick.js"></script>
	<script src="js/vendor/isotope.pkgd.min.js"></script>

	<!-- Custom Scripts -->
	<script src="js/plugins.js"></script>

	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>

	<script src="js/main.js"></script>

</body>
</html>
